

/* active button */ 
button.active {
  background: black;
  color: white;
}
button {
  font-size: 2em;
}

h1 {
  font-size: 5em;
}

/* inactive divs */ 
div.inactive {
  display: none;
}
/* active divs */
div.active {
  display: block;
  border: 5px solid lightskyblue; /* go heels */
}

ul li{
  display: inline;
}

nav :hover {
  background-color: lightblue;
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}

img#callcoin {
  opacity: 0.5;
}